.question-text {
  opacity: 1;
}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

/** Check asnwer style **/
.check-answer-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
}

/** Navigation block styles**/
.navigation {
  margin-top: 3rem;
}
